{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    {% if dt%}
    {% for k,v in dt.items %}
    <title>{{ v.0.1 }}</title>
    <link href='{% static "css/singlepage.css" %}' rel="stylesheet" />    
</head>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<body>
<nav>
    <a href="../">목록으로 가기</a>
    <a href="../..">홈으로 가기</a>
</nav>
<div class='book'> 
    <div id='page-1' class='page no-anim'>    
      <div class='side-1' id='p1'>
        <div class='content'>
          <h1>{{ v.0.1 }}</h1>  
        </div><!-- .content -->
      </div><!-- .side-1 -->    
      <div class='side-2' id='p2'>      
        <div class='content'>
          <p>{{ v.0.2 }}</p>
        </div><!-- .content -->
      </div><!-- .side-2 -->
    </div><!-- .page -->
    
    <div id='page-2' class='page no-anim'>    
      <div class='side-1' id='p3'>
        <div class='content'>
          <img src="{{ books.0 }}" style='width: 340px; height: 440px;'>
        </div><!-- .content -->
      </div><!-- .side-1 -->    
      <div class='side-2' id='p4'>      
        <div class='content'>
          <p>{{ v.0.3 }}</p>
        </div><!-- .content -->
      </div><!-- .side-2 -->
    </div><!-- #page-2 -->
    <div id='page-3' class='page no-anim'>    
      <div class='side-1' id='p5'>
        <div class='content'>
          <img src="{{ books.1 }}" style='width: 340px; height: 440px;'>
          
        </div><!-- .content -->
      </div><!-- .side-1 -->    
      <div class='side-2' id='p6'>      
        <div class='content'>
          <p>{{v.0.4}}</p>
        </div><!-- .content -->
      </div><!-- .side-2 -->
    </div><!-- #page-3 -->
    
    <div id='page-4' class='page no-anim'>    
      <div class='side-1' id='p7'>
        <div class='content'>
          <img src="{{ books.2 }}" style='width: 340px; height: 440px;'>
        </div><!-- .content -->
      </div><!-- .side-1 -->    
      <div class='side-2' id='p8'>      
        <div class='content'>
          <p>{{v.0.5}}</p>
        </div><!-- .content -->
      </div><!-- .side-2 -->
    </div><!-- #page-4 -->

    <div id='page-5' class='page no-anim'>    
        <div class='side-1' id='p9'>
          <div class='content'>
            <img src="{{ books.3 }}" style='width: 340px; height: 440px;'>
          </div><!-- .content -->
        </div><!-- .side-1 -->    
        <div class='side-2' id='p10'>      
          <div class='content'>
            <p>{{v.0.6}}</p>
          </div><!-- .content -->
        </div><!-- .side-2 -->
      </div><!-- #page-4 -->
    
    <div id='page-6' class='page no-anim'>    
        <div class='side-1' id='p11'>
          <div class='content'>
            <img src="{{ books.4 }}" style='width: 340px; height: 440px;'>
          </div><!-- .content -->
        </div><!-- .side-1 -->    
        <div class='side-2' id='p12'>      
          <div class='content'>
            <p>{{v.0.7}}</p>
          </div><!-- .content -->
        </div><!-- .side-2 -->
      </div><!-- #page-4 -->
    <div id='page-7' class='page no-anim'>    
      <div class='side-1' id='p11'>
        <div class='content'>
          <img src="{{ books.5 }}" style='width: 340px; height: 440px;'>
          </div><!-- .content -->
      </div><!-- .side-1 -->    
        <div class='side-2' id='p12'>      
            <div class='content'>
              <p>{{v.0.8}}</p>
        </div><!-- .content -->
    </div><!-- .side-2 -->
    </div><!-- #page-4 -->
    <div id='page-8' class='page no-anim'>    
        <div class='side-1' id='p11'>
          <div class='content'>
            <img src="{{ books.6 }}" style='width: 340px; height: 440px;'>
          </div><!-- .content -->
        </div><!-- .side-1 -->    
        <div class='side-2' id='p12'>      
          <div class='content'>
            <h1>끝</h1>
          </div><!-- .content -->
        </div><!-- .side-2 -->
      </div><!-- #page-4 -->
  </div>
  <script src='{% static "js/singlepage.js" %}'></script>
{%endfor%}
{% else %}
data 없음
{%endif%} 
</body>
</html>
