{% load static %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>동화 목록</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href='{% static "assets/favicon.ico" %}' />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        {% comment %} <link href='{% static "css/styles.css" %}' rel="stylesheet" /> {% endcomment %}
        <link href='{% static "css/booklist.css" %}' rel="stylesheet" />
        <!--fontawesome 아이콘-->
        <script src="https://kit.fontawesome.com/e862626436.js" crossorigin="anonymous"></script>

    </head>
    <body>
    
        <div class="container">
            <div class="items1">
              <div class="items-head">
                <p>전래동화</p>
                <hr>
              </div>
              
              <div class="items-body">
                <div class="items-body-content">
                  <span><a href="0">해와 달이 된 오누이</a></span>
                  <i class="fa fa-angle-right"></i>
                </div>
                <div class="items-body-content">
                  <span><a href="1">효녀 심청</a></span>
                  <i class="fa fa-angle-right"></i>
                </div>
                <div class="items-body-content">
                  <span><a href="2">우렁각시</a></span>
                  <i class="fa fa-angle-right"></i>
                </div>
                <div class="items-body-content">
                  <span><a href="3">거울소동</a></span>
                  <i class="fa fa-angle-right"></i>
                </div>
                <div class="items-body-content">
                  <span><a href="4">개가 된 뱀</a></span>
                  <i class="fa fa-angle-right"></i>
                </div>
              </div>
            </div>

            <div class="items2">
                <div class="items-head">
                  <p>해외동화</p>
                  <hr>
                </div>
                
                <div class="items-body">
                  <div class="items-body-content">
                    <span><a href="5">흰구름선녀</a></span>
                    <i class="fa fa-angle-right"></i>
                  </div>
                  <div class="items-body-content">
                    <span><a href="6">잠자는 숲 속의 공주</a></span>
                    <i class="fa fa-angle-right"></i>
                  </div>
                  <div class="items-body-content">
                    <span><a href="7">백설공주</a></span>
                    <i class="fa fa-angle-right"></i>
                  </div>
                  <div class="items-body-content">
                    <span><a href="8">라푼젤</a></span>
                    <i class="fa fa-angle-right"></i>
                  </div>
                  <div class="items-body-content">
                    <span><a href="9">브레멘음악대</a></span>
                    <i class="fa fa-angle-right"></i>
                  </div>
                </div>
              </div>
        </div>
    </body>

    </html>